<div class="centered-content">
    <div class="modal-box">
        <h1 class="modal-title has-text-primary">
            Update New Step
        </h1>
        <input #updatedTaskValue [(ngModel)] = "updatedTaskTitle" class="input is-normal has-background-light mt-auto" type="text" placeholder="Enter new step..." value="{{title}}">
        <div class="buttons is-right mt-auto">
            <button class="button is-responsive is-normal is-danger" routerLink="../../">Cancel</button>
            <button *ngIf="updatedTaskValue.value" class="button is-responsive is-normal is-primary" (click)="updateListTask(updatedTaskValue.value)">Update</button>
          </div>
    </div>
</div>