<div class="centered-content">
    <div class="modal-box">
        <h1 class="modal-title has-text-primary">
            Add New Step
        </h1>
        <input #newTaskValue class="input is-normal has-background-light mt-auto" type="text" placeholder="Enter new step..." [(ngModel)]='newTaskTitle'>
        <div class="buttons is-right mt-auto">
            <button class="button is-responsive is-normal is-danger" routerLink="../">Cancel</button>
            <button *ngIf="newTaskTitle" class="button is-responsive is-normal is-primary" (click)="createNewListTask(newTaskValue.value)">Add</button>
          </div>
    </div>
</div>